#debug_portal {
    border-color: red;
    border: 1px;
    border-style: solid;
    color: red;
}
#error {
    color: red;
    font-weight: bold;
}

.hidden {
    opacity: 0;
}
.win {
    color: rgb(22, 174, 108);
}
.lose {
    color: crimson;
}
#logs {
    border-style: solid;
    border-color: darkslategray;
}
#currentPlayer {
    font-weight: bold;
}